<div class="card">
    <div class="card-svg">
        <img scr="{{flags.svg}}" alt="{{altSpellings.1}}">
        {{#each altSpellings}}
        <h1 class="card-title">{{altSpellings.1}}</h1>
        {{/each}}
    </div>
    <div class="card-description">
        <p class="card-text">Capital: {{capital.0}}</p>
        <p class="card-text">Population: {{population}}</p>
        <p class="card-text">Languages: {{languages.slk}}</p>
    </div>
</div>